In [12]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_excel("APCall.xlsx", sheet_name="Sheet")

In [25]:
df

,Объект,Оборудование,Транслитерация обрудования,IP адрес оборудования,Найденный результат
0,"МО, г. Балашиха, Энтузиастов шоссе, д. 2",APC Smart-UPS 2200,TEL-ENTUZIASTOV2BAKM-UPS/01,10.192.71.75,APC Smart-UPS 2200
1,"МО, г. Балашиха, Энтузиастов шоссе, д. 2",APC AP9617,TEL-ENTUZIASTOV2BAKM-UPS/01-AP9617/01,NaN,APC AP9617
2,"МО, г. Балашиха, Энтузиастов шоссе, д. 4",APC Smart-UPS 750 (SUA750I),TEL-ENTUZIASTOV4ASTPRESS-UPS/01,10.192.71.76,APC Smart-UPS 750 (SUA750I)
3,"МО, г. Балашиха, Энтузиастов шоссе, д. 4",APC AP9617,TEL-ENTUZIASTOV4ASTPRESS-UPS/01-AP9617,NaN,APC AP9617
4,"МО, г. Балашиха, Энтузиастов шоссе, д. 4",APC Smart-UPS 750 (SUA750I),TEL-ENTUZIASTOV4BLMZ78AK-UPS/01,10.192.3.29,APC Smart-UPS 750 (SUA750I)
...,...,...,...,...,...
884,"Москва, Ярцевская улица, д. 27, корп. 1",APC Smart-UPS 750 (SUA750I),TEL-YARTSEVSKAYA27K1POD1UP-UPS/EFIRKA,NaN,APC Smart-UPS 750 (SUA750I)
885,"Москва, Ярцевская улица, д. 27, корп. 1",APC Smart-UPS VT 10kVa,TEL-YARTSEVSKAYA27K1POD2UZEL-UPS/01,10.192.35.185,APC Smart-UPS VT 10kVa
886,"Москва, Ярцевская улица, д. 27, корп. 1",APC AP9630,TEL-YARTSEVSKAYA27K1POD2UZEL-UPS/01-AP9630,NaN,APC AP9630
887,"Москва, Ярцевская улица, д. 32",APC Smart-UPS 750 (SUA750I),TEL-YARTSEVSKAYA32POD3-UPS/01,NaN,APC Smart-UPS 750 (SUA750I)
888,888 шт.,NaN,NaN,NaN,NaN

In [28]:
len(df)

889

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Объект                      889 non-null    object
 1   Оборудование                888 non-null    object
 2   Транслитерация обрудования  888 non-null    object
 3   IP адрес оборудования       282 non-null    object
 4   Найденный результат         888 non-null    object
dtypes: object(5)
memory usage: 34.9+ KB

In [43]:
df = df.dropna(subset=['IP адрес оборудования']) # убрать в столбце все строки с None
df.to_excel('newAPCall.xlsx', sheet_name="Sheet")