In [13]:
import numpy as np
import pandas as pd

In [14]:
pd.DataFrame({'Audi':[1, 2, 3, 4, 5], 'BMV': [1, 2, 3, 4, 't']})

   Audi BMV
0     1   1
1     2   2
2     3   3
3     4   4
4     5   t

In [17]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [20]:
dates = pd.date_range("20240907", periods=6)
dates

DatetimeIndex(['2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10',
               '2024-09-11', '2024-09-12'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2024-09-07  0.242253 -0.307345  1.486004 -0.584846
2024-09-08  1.505415 -0.022909 -0.742329 -1.311255
2024-09-09 -0.586951  0.505458  1.138677 -0.718201
2024-09-10  0.225347 -0.253458  0.825109 -0.985684
2024-09-11  0.019186  2.148731  0.034548  0.287359
2024-09-12 -0.347888 -0.166753  0.064856  0.142888

In [23]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20240907"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "traim", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2024-09-07  1.0  3   test  foo
1  1.0 2024-09-07  1.0  3  traim  foo
2  1.0 2024-09-07  1.0  3   test  foo
3  1.0 2024-09-07  1.0  3  train  foo

In [24]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [30]:
df.head(3)

                   A         B         C         D
2024-09-07  0.242253 -0.307345  1.486004 -0.584846
2024-09-08  1.505415 -0.022909 -0.742329 -1.311255
2024-09-09 -0.586951  0.505458  1.138677 -0.718201

In [31]:
df.tail(2)

                   A         B         C         D
2024-09-11  0.019186  2.148731  0.034548  0.287359
2024-09-12 -0.347888 -0.166753  0.064856  0.142888

In [34]:
df.index

DatetimeIndex(['2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10',
               '2024-09-11', '2024-09-12'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df.to_numpy()

array([[ 0.24225301, -0.30734487,  1.48600446, -0.58484584],
       [ 1.50541477, -0.02290922, -0.74232926, -1.31125474],
       [-0.58695114,  0.50545784,  1.13867718, -0.71820118],
       [ 0.22534701, -0.25345815,  0.82510893, -0.98568368],
       [ 0.01918601,  2.1487313 ,  0.03454769,  0.28735925],
       [-0.34788779, -0.16675343,  0.06485564,  0.14288751]])

In [36]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [37]:
df2.to_numpy()

array([[1.0, Timestamp('2024-09-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2024-09-07 00:00:00'), 1.0, 3, 'traim', 'foo'],
       [1.0, Timestamp('2024-09-07 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2024-09-07 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [38]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.176227  0.317287  0.467811 -0.528290
std    0.728740  0.943985  0.828127  0.628851
min   -0.586951 -0.307345 -0.742329 -1.311255
25%   -0.256119 -0.231782  0.042125 -0.918813
50%    0.122267 -0.094831  0.444982 -0.651524
75%    0.238027  0.373366  1.060285 -0.039046
max    1.505415  2.148731  1.486004  0.287359

In [39]:
df.T

   2024-09-07  2024-09-08  2024-09-09  2024-09-10  2024-09-11  2024-09-12
A    0.242253    1.505415   -0.586951    0.225347    0.019186   -0.347888
B   -0.307345   -0.022909    0.505458   -0.253458    2.148731   -0.166753
C    1.486004   -0.742329    1.138677    0.825109    0.034548    0.064856
D   -0.584846   -1.311255   -0.718201   -0.985684    0.287359    0.142888

In [40]:
df

                   A         B         C         D
2024-09-07  0.242253 -0.307345  1.486004 -0.584846
2024-09-08  1.505415 -0.022909 -0.742329 -1.311255
2024-09-09 -0.586951  0.505458  1.138677 -0.718201
2024-09-10  0.225347 -0.253458  0.825109 -0.985684
2024-09-11  0.019186  2.148731  0.034548  0.287359
2024-09-12 -0.347888 -0.166753  0.064856  0.142888

In [47]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2024-09-07 -0.584846  1.486004 -0.307345  0.242253
2024-09-08 -1.311255 -0.742329 -0.022909  1.505415
2024-09-09 -0.718201  1.138677  0.505458 -0.586951
2024-09-10 -0.985684  0.825109 -0.253458  0.225347
2024-09-11  0.287359  0.034548  2.148731  0.019186
2024-09-12  0.142888  0.064856 -0.166753 -0.347888

In [48]:
df.sort_values(by="D")

                   A         B         C         D
2024-09-08  1.505415 -0.022909 -0.742329 -1.311255
2024-09-10  0.225347 -0.253458  0.825109 -0.985684
2024-09-09 -0.586951  0.505458  1.138677 -0.718201
2024-09-07  0.242253 -0.307345  1.486004 -0.584846
2024-09-12 -0.347888 -0.166753  0.064856  0.142888
2024-09-11  0.019186  2.148731  0.034548  0.287359

In [49]:
df["A"]

2024-09-07    0.242253
2024-09-08    1.505415
2024-09-09   -0.586951
2024-09-10    0.225347
2024-09-11    0.019186
2024-09-12   -0.347888
Freq: D, Name: A, dtype: float64

In [50]:
df[0:2]

                   A         B         C         D
2024-09-07  0.242253 -0.307345  1.486004 -0.584846
2024-09-08  1.505415 -0.022909 -0.742329 -1.311255

In [51]:
df.loc[dates[0]]

A    0.242253
B   -0.307345
C    1.486004
D   -0.584846
Name: 2024-09-07 00:00:00, dtype: float64

In [53]:
df.loc[:, ["A", "B"]]

                   A         B
2024-09-07  0.242253 -0.307345
2024-09-08  1.505415 -0.022909
2024-09-09 -0.586951  0.505458
2024-09-10  0.225347 -0.253458
2024-09-11  0.019186  2.148731
2024-09-12 -0.347888 -0.166753